In [ ]:
# https://www.youtube.com/watch?v=vfBRleigfR8
# https://www.youtube.com/watch?v=GB9ByFAIAH4
# https://www.dataquest.io/blog/numpy-tutorial-python/
# https://www.machinelearningplus.com/python/101-numpy-exercises-python/
# https://www.hackerearth.com/practice/machine-learning/data-manipulation-visualisation-r-python/tutorial-data-manipulation-numpy-pandas-python/tutorial/
# https://www.upgrad.com/blog/numpy-interview-questions-and-answers/
# https://towardsdatascience.com/machine-learning-with-datetime-feature-engineering-predicting-healthcare-appointment-no-shows-5e4ca3a85f96
# https://towardsdatascience.com/feature-engineering-on-date-time-data-90f6e954e6b8

In [1]:
#import the libraries
import pandas as pd
import numpy as np

In [2]:
#Read the csv file
df = pd.read_csv("auto_data.csv")

In [3]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [24]:
df.describe()

,mpg,cylinders,displacement,weight,acceleration,model_year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [32]:
df['name'].value_counts()

ford pinto               6
toyota corolla           5
amc matador              5
ford maverick            5
amc hornet               4
                        ..
ford fairmont 4          1
plymouth champ           1
honda civic (auto)       1
pontiac lemans v6        1
datsun f-10 hatchback    1
Name: name, Length: 305, dtype: int64

In [79]:
# read the dataframe as numpyarray
nump_df = np.genfromtxt("auto_data.csv", dtype=None, delimiter =',',skip_header =0)

C:\Users\Viswajani\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: VisibleDeprecationWarning: Reading unicode strings without specifying the encoding argument is deprecated. Set the encoding, use None for the system default.

In [21]:
nump_df.shape

(398,)

In [35]:
nump_df

array([(18. , 8, 307. , b'130', 3504, 12. , 70, 1, b'chevrolet chevelle malibu'),
       (15. , 8, 350. , b'165', 3693, 11.5, 70, 1, b'buick skylark 320'),
       (18. , 8, 318. , b'150', 3436, 11. , 70, 1, b'plymouth satellite'),
       (16. , 8, 304. , b'150', 3433, 12. , 70, 1, b'amc rebel sst'),
       (17. , 8, 302. , b'140', 3449, 10.5, 70, 1, b'ford torino'),
       (15. , 8, 429. , b'198', 4341, 10. , 70, 1, b'ford galaxie 500'),
       (14. , 8, 454. , b'220', 4354,  9. , 70, 1, b'chevrolet impala'),
       (14. , 8, 440. , b'215', 4312,  8.5, 70, 1, b'plymouth fury iii'),
       (14. , 8, 455. , b'225', 4425, 10. , 70, 1, b'pontiac catalina'),
       (15. , 8, 390. , b'190', 3850,  8.5, 70, 1, b'amc ambassador dpl'),
       (15. , 8, 383. , b'170', 3563, 10. , 70, 1, b'dodge challenger se'),
       (14. , 8, 340. , b'160', 3609,  8. , 70, 1, b"plymouth 'cuda 340"),
       (15. , 8, 400. , b'150', 3761,  9.5, 70, 1, b'chevrolet monte carlo'),
       (14. , 8, 455. , b'225', 3086, 10. , 70, 1, b'buick estate wagon (sw)'),
       (24. , 4, 113. , b'95', 2372, 15. , 70, 3, b'toyota corona mark ii'),
       (22. , 6, 198. , b'95', 2833, 15.5, 70, 1, b'plymouth duster'),
       (18. , 6, 199. , b'97', 2774, 15.5, 70, 1, b'amc hornet'),
       (21. , 6, 200. , b'85', 2587, 16. , 70, 1, b'ford maverick'),
       (27. , 4,  97. , b'88', 2130, 14.5, 70, 3, b'datsun pl510'),
       (26. , 4,  97. , b'46', 1835, 20.5, 70, 2, b'volkswagen 1131 deluxe sedan'),
       (25. , 4, 110. , b'87', 2672, 17.5, 70, 2, b'peugeot 504'),
       (24. , 4, 107. , b'90', 2430, 14.5, 70, 2, b'audi 100 ls'),
       (25. , 4, 104. , b'95', 2375, 17.5, 70, 2, b'saab 99e'),
       (26. , 4, 121. , b'113', 2234, 12.5, 70, 2, b'bmw 2002'),
       (21. , 6, 199. , b'90', 2648, 15. , 70, 1, b'amc gremlin'),
       (10. , 8, 360. , b'215', 4615, 14. , 70, 1, b'ford f250'),
       (10. , 8, 307. , b'200', 4376, 15. , 70, 1, b'chevy c20'),
       (11. , 8, 318. , b'210', 4382, 13.5, 70, 1, b'dodge d200'),
       ( 9. , 8, 304. , b'193', 4732, 18.5, 70, 1, b'hi 1200d'),
       (27. , 4,  97. , b'88', 2130, 14.5, 71, 3, b'datsun pl510'),
       (28. , 4, 140. , b'90', 2264, 15.5, 71, 1, b'chevrolet vega 2300'),
       (25. , 4, 113. , b'95', 2228, 14. , 71, 3, b'toyota corona'),
       (25. , 4,  98. , b'?', 2046, 19. , 71, 1, b'ford pinto'),
       (19. , 6, 232. , b'100', 2634, 13. , 71, 1, b'amc gremlin'),
       (16. , 6, 225. , b'105', 3439, 15.5, 71, 1, b'plymouth satellite custom'),
       (17. , 6, 250. , b'100', 3329, 15.5, 71, 1, b'chevrolet chevelle malibu'),
       (19. , 6, 250. , b'88', 3302, 15.5, 71, 1, b'ford torino 500'),
       (18. , 6, 232. , b'100', 3288, 15.5, 71, 1, b'amc matador'),
       (14. , 8, 350. , b'165', 4209, 12. , 71, 1, b'chevrolet impala'),
       (14. , 8, 400. , b'175', 4464, 11.5, 71, 1, b'pontiac catalina brougham'),
       (14. , 8, 351. , b'153', 4154, 13.5, 71, 1, b'ford galaxie 500'),
       (14. , 8, 318. , b'150', 4096, 13. , 71, 1, b'plymouth fury iii'),
       (12. , 8, 383. , b'180', 4955, 11.5, 71, 1, b'dodge monaco (sw)'),
       (13. , 8, 400. , b'170', 4746, 12. , 71, 1, b'ford country squire (sw)'),
       (13. , 8, 400. , b'175', 5140, 12. , 71, 1, b'pontiac safari (sw)'),
       (18. , 6, 258. , b'110', 2962, 13.5, 71, 1, b'amc hornet sportabout (sw)'),
       (22. , 4, 140. , b'72', 2408, 19. , 71, 1, b'chevrolet vega (sw)'),
       (19. , 6, 250. , b'100', 3282, 15. , 71, 1, b'pontiac firebird'),
       (18. , 6, 250. , b'88', 3139, 14.5, 71, 1, b'ford mustang'),
       (23. , 4, 122. , b'86', 2220, 14. , 71, 1, b'mercury capri 2000'),
       (28. , 4, 116. , b'90', 2123, 14. , 71, 2, b'opel 1900'),
       (30. , 4,  79. , b'70', 2074, 19.5, 71, 2, b'peugeot 304'),
       (30. , 4,  88. , b'76', 2065, 14.5, 71, 2, b'fiat 124b'),
       (31. , 4,  71. , b'65', 1773, 19. , 71, 3, b'toyota corolla 1200'),
       (35. , 4,  72. , b'69', 1613, 18. , 71, 3, b'datsun 1200'),
       (27. , 4,  97. , b'60', 1834, 19. , 71, 2, b'volkswagen model 111'),
       (26. , 4,  91. , b'70', 1955, 20.5, 71, 1, b'plymouth cricket'),
       (24. , 4, 113. , b'95', 2278, 15.5, 72, 3, b'toyota corona hardtop'),
       (25. , 4,  97.5, b'80', 2126, 17. , 72, 1, b'dodge colt hardtop'),
       (23. , 4,  97. , b'54', 2254, 23.5, 72, 2, b'volkswagen type 3'),
       (20. , 4, 140. , b'90', 2408, 19.5, 72, 1, b'chevrolet vega'),
       (21. , 4, 122. , b'86', 2226, 16.5, 72, 1, b'ford pinto runabout'),
       (13. , 8, 350. , b'165', 4274, 12. , 72, 1, b'chevrolet impala'),
       (14. , 8, 400. , b'175', 4385, 12. , 72, 1, b'pontiac catalina'),
       (15. , 8, 318. , b'150', 4135, 13.5, 72, 1, b'plymouth fury iii'),
       (14. , 8, 351. , b'153', 4129, 13. , 72, 1, b'ford galaxie 500'),
       (17. , 8, 304. , b'150', 3672, 11.5, 72, 1, b'amc ambassador sst'),
       (11. , 8, 429. , b'208', 4633, 11. , 72, 1, b'mercury marquis'),
       (13. , 8, 350. , b'155', 4502, 13.5, 72, 1, b'buick lesabre custom'),
       (12. , 8, 350. , b'160', 4456, 13.5, 72, 1, b'oldsmobile delta 88 royale'),
       (13. , 8, 400. , b'190', 4422, 12.5, 72, 1, b'chrysler newport royal'),
       (19. , 3,  70. , b'97', 2330, 13.5, 72, 3, b'mazda rx2 coupe'),
       (15. , 8, 304. , b'150', 3892, 12.5, 72, 1, b'amc matador (sw)'),
       (13. , 8, 307. , b'130', 4098, 14. , 72, 1, b'chevrolet chevelle concours (sw)'),
       (13. , 8, 302. , b'140', 4294, 16. , 72, 1, b'ford gran torino (sw)'),
       (14. , 8, 318. , b'150', 4077, 14. , 72, 1, b'plymouth satellite custom (sw)'),
       (18. , 4, 121. , b'112', 2933, 14.5, 72, 2, b'volvo 145e (sw)'),
       (22. , 4, 121. , b'76', 2511, 18. , 72, 2, b'volkswagen 411 (sw)'),
       (21. , 4, 120. , b'87', 2979, 19.5, 72, 2, b'peugeot 504 (sw)'),
       (26. , 4,  96. , b'69', 2189, 18. , 72, 2, b'renault 12 (sw)'),
       (22. , 4, 122. , b'86', 2395, 16. , 72, 1, b'ford pinto (sw)'),
       (28. , 4,  97. , b'92', 2288, 17. , 72, 3, b'datsun 510 (sw)'),
       (23. , 4, 120. , b'97', 2506, 14.5, 72, 3, b'toyouta corona mark ii (sw)'),
       (28. , 4,  98. , b'80', 2164, 15. , 72, 1, b'dodge colt (sw)'),
       (27. , 4,  97. , b'88', 2100, 16.5, 72, 3, b'toyota corolla 1600 (sw)'),
       (13. , 8, 350. , b'175', 4100, 13. , 73, 1, b'buick century 350'),
       (14. , 8, 304. , b'150', 3672, 11.5, 73, 1, b'amc matador'),
       (13. , 8, 350. , b'145', 3988, 13. , 73, 1, b'chevrolet malibu'),
       (14. , 8, 302. , b'137', 4042, 14.5, 73, 1, b'ford gran torino'),
       (15. , 8, 318. , b'150', 3777, 12.5, 73, 1, b'dodge coronet custom'),
       (12. , 8, 429. , b'198', 4952, 11.5, 73, 1, b'mercury marquis brougham'),
       (13. , 8, 400. , b'150', 4464, 12. , 73, 1, b'chevrolet caprice classic'),
       (13. , 8, 351. , b'158', 4363, 13. , 73, 1, b'ford ltd'),
       (14. , 8, 318. , b'150', 4237, 14.5, 73, 1, b'plymouth fury gran sedan'),
       (13. , 8, 440. , b'215', 4735, 11. , 73, 1, b'chrysler new yorker brougham'),
       (12. , 8, 455. , b'225', 4951, 11. , 73, 1, b'buick electra 225 custom'),
       (13. , 8, 360. , b'175', 3821, 11. , 73, 1, b'amc ambassador brougham'),
       (18. , 6, 225. , b'105', 3121, 16.5, 73, 1, b'plymouth valiant'),
       (16. , 6, 250. , b'100', 3278, 18. , 73, 1, b'chevrolet nova custom'),
       (18. , 6, 232. , b'100', 2945, 16. , 73, 1, b'amc hornet'),
       (18. , 6, 250. , b'88', 3021, 16.5, 73, 1, b'ford maverick'),
       (23. , 6, 198. , b'95', 2904, 16. , 73, 1, b'plymouth duster'),
       (26. , 4,  97. , b'46', 1950, 21. , 73, 2, b'volkswagen super beetle'),
       (11. , 8, 400. , b'150', 4997, 14. , 73, 1, b'chevrolet impala'),
       (12. , 8, 400. , b'167', 4906, 12.5, 73, 1, b'ford country'),
       (13. , 8, 360. , b'170', 4654, 13. , 73, 1, b'plymouth custom suburb'),
       (12. , 8, 350. , b'180', 4499, 12.5, 73, 1, b'oldsmobile vista cruiser'),
       (18. , 6, 232. , b'100', 2789, 15. , 73, 1, b'amc gremlin'),
       (20. , 4,  97. , b'88', 2279, 19. , 73, 3, b'toyota carina'),
       (21. , 4, 140. , b'72', 2401, 19.5, 73, 1, b'chevrolet vega'),
       (22. , 4, 108. , b'94', 2379, 16.5, 73, 3, b'datsun 610'),
       (18. , 3,  70. , b'90', 2124, 13.5, 73, 3, b'maxda rx3'),
       (19. , 4, 122. , b'85', 2310, 18.5, 73, 1, b'ford pinto'),
       (21. , 6, 155. , b'107', 2472, 14. , 73, 1, b'mercury capri v6'),
       (26. , 4,  98. , b'90', 2265, 15.5, 73, 2, b'fiat 124 sport coupe'),
       (15. , 8, 350. , b'145', 4082, 13. , 73, 1, b'chevrolet monte carlo s'),
       (16. , 8, 400. , b'230', 4278,  9.5, 73, 1, b'pontiac grand prix'),
       (29. , 4,  68. , b'49', 1867, 19.5, 73, 2, b'fiat 128'),
       (24. , 4, 116. , b'75', 2158, 15.5, 73, 2, b'opel manta'),
       (20. , 4, 114. , b'91', 2582, 14. , 73, 2, b'audi 100ls'),
       (19. , 4, 121. , b'112', 2868, 15.5, 73, 2, b'volvo 144ea'),
       (15. , 8, 318. , b'150', 3399, 11. , 73, 1, b'dodge dart custom'),
       (24. , 4, 121. , b'110', 2660, 14. , 73, 2, b'saab 99le'),
       (20. , 6, 156. , b'122', 2807, 13.5, 73, 3, b'toyota mark ii'),
       (11. , 8, 350. , b'180', 3664, 11. , 73, 1, b'oldsmobile omega'),
       (20. , 6, 198. , b'95', 3102, 16.5, 74, 1, b'plymouth duster'),
       (21. , 6, 200. , b'?', 2875, 17. , 74, 1, b'ford maverick'),
       (19. , 6, 232. , b'100', 2901, 16. , 74, 1, b'amc hornet'),
       (15. , 6, 250. , b'100', 3336, 17. , 74, 1, b'chevrolet nova'),
       (31. , 4,  79. , b'67', 1950, 19. , 74, 3, b'datsun b210'),
       (26. , 4, 122. , b'80', 2451, 16.5, 74, 1, b'ford pinto'),
       (32. , 4,  71. , b'65', 1836, 21. , 74, 3, b'toyota corolla 1200'),
       (25. , 4, 140. , b'75', 2542, 17. , 74, 1, b'chevrolet vega'),
       (16. , 6, 250. , b'100', 3781, 17. , 74, 1, b'chevrolet chevelle malibu classic'),
       (16. , 6, 258. , b'110', 3632, 18. , 74, 1, b'amc matador'),
       (18. , 6, 225. , b'105', 3613, 16.5, 74, 1, b'plymouth satellite sebring'),
       (16. , 8, 302. , b'140', 4141, 14. , 74, 1, b'ford gran torino'),
       (13. , 8, 350. , b'150', 4699, 14.5, 74, 1, b'buick century luxus (sw)'),
       (14. , 8, 318. , b'150', 4457, 13.5, 74, 1, b'dodge coronet custom (sw)'),
       (14. , 8, 302. , b'140', 4638, 16. , 74, 1, b'ford gran torino (sw)'),
       (14. , 8, 304. , b'150', 4257, 15.5, 74, 1, b'amc matador (sw)'),
       (29. , 4,  98. , b'83', 2219, 16.5, 74, 2, b'audi fox'),
       (26. , 4,  79. , b'67', 1963, 15.5, 74, 2, b'volkswagen dasher'),
       (26. , 4,  97. , b'78', 2300, 14.5, 74, 2, b'opel manta'),
       (31. , 4,  76. , b'52', 1649, 16.5, 74, 3, b'toyota corona'),
       (32. , 4,  83. , b'61', 2003, 19. , 74, 3, b'datsun 710'),
       (28. , 4,  90. , b'75', 2125, 14.5, 74, 1, b'dodge colt'),
       (24. , 4,  90. , b'75', 2108, 15.5, 74, 2, b'fiat 128'),
       (26. , 4, 116. , b'75', 2246, 14. , 74, 2, b'fiat 124 tc'),
       (24. , 4, 120. , b'97', 2489, 15. , 74, 3, b'honda civic'),
       (26. , 4, 108. , b'93', 2391, 15.5, 74, 3, b'subaru'),
       (31. , 4,  79. , b'67', 2000, 16. , 74, 2, b'fiat x1.9'),
       (19. , 6, 225. , b'95', 3264, 16. , 75, 1, b'plymouth valiant custom'),
       (18. , 6, 250. , b'105', 3459, 16. , 75, 1, b'chevrolet nova'),
       (15. , 6, 250. , b'72', 3432, 21. , 75, 1, b'mercury monarch'),
       (15. , 6, 250. , b'72', 3158, 19.5, 75, 1, b'ford maverick'),
       (16. , 8, 400. , b'170', 4668, 11.5, 75, 1, b'pontiac catalina'),
       (15. , 8, 350. , b'145', 4440, 14. , 75, 1, b'chevrolet bel air'),
       (16. , 8, 318. , b'150', 4498, 14.5, 75, 1, b'plymouth grand fury'),
       (14. , 8, 351. , b'148', 4657, 13.5, 75, 1, b'ford ltd'),
       (17. , 6, 231. , b'110', 3907, 21. , 75, 1, b'buick century'),
       (16. , 6, 250. , b'105', 3897, 18.5, 75, 1, b'chevroelt chevelle malibu'),
       (15. , 6, 258. , b'110', 3730, 19. , 75, 1, b'amc matador'),
       (18. , 6, 225. , b'95', 3785, 19. , 75, 1, b'plymouth fury'),
       (21. , 6, 231. , b'110', 3039, 15. , 75, 1, b'buick skyhawk'),
       (20. , 8, 262. , b'110', 3221, 13.5, 75, 1, b'chevrolet monza 2+2'),
       (13. , 8, 302. , b'129', 3169, 12. , 75, 1, b'ford mustang ii'),
       (29. , 4,  97. , b'75', 2171, 16. , 75, 3, b'toyota corolla'),
       (23. , 4, 140. , b'83', 2639, 17. , 75, 1, b'ford pinto'),
       (20. , 6, 232. , b'100', 2914, 16. , 75, 1, b'amc gremlin'),
       (23. , 4, 140. , b'78', 2592, 18.5, 75, 1, b'pontiac astro'),
       (24. , 4, 134. , b'96', 2702, 13.5, 75, 3, b'toyota corona'),
       (25. , 4,  90. , b'71', 2223, 16.5, 75, 2, b'volkswagen dasher'),
       (24. , 4, 119. , b'97', 2545, 17. , 75, 3, b'datsun 710'),
       (18. , 6, 171. , b'97', 2984, 14.5, 75, 1, b'ford pinto'),
       (29. , 4,  90. , b'70', 1937, 14. , 75, 2, b'volkswagen rabbit'),
       (19. , 6, 232. , b'90', 3211, 17. , 75, 1, b'amc pacer'),
       (23. , 4, 115. , b'95', 2694, 15. , 75, 2, b'audi 100ls'),
       (23. , 4, 120. , b'88', 2957, 17. , 75, 2, b'peugeot 504'),
       (22. , 4, 121. , b'98', 2945, 14.5, 75, 2, b'volvo 244dl'),
       (25. , 4, 121. , b'115', 2671, 13.5, 75, 2, b'saab 99le'),
       (33. , 4,  91. , b'53', 1795, 17.5, 75, 3, b'honda civic cvcc'),
       (28. , 4, 107. , b'86', 2464, 15.5, 76, 2, b'fiat 131'),
       (25. , 4, 116. , b'81', 2220, 16.9, 76, 2, b'opel 1900'),
       (25. , 4, 140. , b'92', 2572, 14.9, 76, 1, b'capri ii'),
       (26. , 4,  98. , b'79', 2255, 17.7, 76, 1, b'dodge colt'),
       (27. , 4, 101. , b'83', 2202, 15.3, 76, 2, b'renault 12tl'),
       (17.5, 8, 305. , b'140', 4215, 13. , 76, 1, b'chevrolet chevelle malibu classic'),
       (16. , 8, 318. , b'150', 4190, 13. , 76, 1, b'dodge coronet brougham'),
       (15.5, 8, 304. , b'120', 3962, 13.9, 76, 1, b'amc matador'),
       (14.5, 8, 351. , b'152', 4215, 12.8, 76, 1, b'ford gran torino'),
       (22. , 6, 225. , b'100', 3233, 15.4, 76, 1, b'plymouth valiant'),
       (22. , 6, 250. , b'105', 3353, 14.5, 76, 1, b'chevrolet nova'),
       (24. , 6, 200. , b'81', 3012, 17.6, 76, 1, b'ford maverick'),
       (22.5, 6, 232. , b'90', 3085, 17.6, 76, 1, b'amc hornet'),
       (29. , 4,  85. , b'52', 2035, 22.2, 76, 1, b'chevrolet chevette'),
       (24.5, 4,  98. , b'60', 2164, 22.1, 76, 1, b'chevrolet woody'),
       (29. , 4,  90. , b'70', 1937, 14.2, 76, 2, b'vw rabbit'),
       (33. , 4,  91. , b'53', 1795, 17.4, 76, 3, b'honda civic'),
       (20. , 6, 225. , b'100', 3651, 17.7, 76, 1, b'dodge aspen se'),
       (18. , 6, 250. , b'78', 3574, 21. , 76, 1, b'ford granada ghia'),
       (18.5, 6, 250. , b'110', 3645, 16.2, 76, 1, b'pontiac ventura sj'),
       (17.5, 6, 258. , b'95', 3193, 17.8, 76, 1, b'amc pacer d/l'),
       (29.5, 4,  97. , b'71', 1825, 12.2, 76, 2, b'volkswagen rabbit'),
       (32. , 4,  85. , b'70', 1990, 17. , 76, 3, b'datsun b-210'),
       (28. , 4,  97. , b'75', 2155, 16.4, 76, 3, b'toyota corolla'),
       (26.5, 4, 140. , b'72', 2565, 13.6, 76, 1, b'ford pinto'),
       (20. , 4, 130. , b'102', 3150, 15.7, 76, 2, b'volvo 245'),
       (13. , 8, 318. , b'150', 3940, 13.2, 76, 1, b'plymouth volare premier v8'),
       (19. , 4, 120. , b'88', 3270, 21.9, 76, 2, b'peugeot 504'),
       (19. , 6, 156. , b'108', 2930, 15.5, 76, 3, b'toyota mark ii'),
       (16.5, 6, 168. , b'120', 3820, 16.7, 76, 2, b'mercedes-benz 280s'),
       (16.5, 8, 350. , b'180', 4380, 12.1, 76, 1, b'cadillac seville'),
       (13. , 8, 350. , b'145', 4055, 12. , 76, 1, b'chevy c10'),
       (13. , 8, 302. , b'130', 3870, 15. , 76, 1, b'ford f108'),
       (13. , 8, 318. , b'150', 3755, 14. , 76, 1, b'dodge d100'),
       (31.5, 4,  98. , b'68', 2045, 18.5, 77, 3, b'honda accord cvcc'),
       (30. , 4, 111. , b'80', 2155, 14.8, 77, 1, b'buick opel isuzu deluxe'),
       (36. , 4,  79. , b'58', 1825, 18.6, 77, 2, b'renault 5 gtl'),
       (25.5, 4, 122. , b'96', 2300, 15.5, 77, 1, b'plymouth arrow gs'),
       (33.5, 4,  85. , b'70', 1945, 16.8, 77, 3, b'datsun f-10 hatchback'),
       (17.5, 8, 305. , b'145', 3880, 12.5, 77, 1, b'chevrolet caprice classic'),
       (17. , 8, 260. , b'110', 4060, 19. , 77, 1, b'oldsmobile cutlass supreme'),
       (15.5, 8, 318. , b'145', 4140, 13.7, 77, 1, b'dodge monaco brougham'),
       (15. , 8, 302. , b'130', 4295, 14.9, 77, 1, b'mercury cougar brougham'),
       (17.5, 6, 250. , b'110', 3520, 16.4, 77, 1, b'chevrolet concours'),
       (20.5, 6, 231. , b'105', 3425, 16.9, 77, 1, b'buick skylark'),
       (19. , 6, 225. , b'100', 3630, 17.7, 77, 1, b'plymouth volare custom'),
       (18.5, 6, 250. , b'98', 3525, 19. , 77, 1, b'ford granada'),
       (16. , 8, 400. , b'180', 4220, 11.1, 77, 1, b'pontiac grand prix lj'),
       (15.5, 8, 350. , b'170', 4165, 11.4, 77, 1, b'chevrolet monte carlo landau'),
       (15.5, 8, 400. , b'190', 4325, 12.2, 77, 1, b'chrysler cordoba'),
       (16. , 8, 351. , b'149', 4335, 14.5, 77, 1, b'ford thunderbird'),
       (29. , 4,  97. , b'78', 1940, 14.5, 77, 2, b'volkswagen rabbit custom'),
       (24.5, 4, 151. , b'88', 2740, 16. , 77, 1, b'pontiac sunbird coupe'),
       (26. , 4,  97. , b'75', 2265, 18.2, 77, 3, b'toyota corolla liftback'),
       (25.5, 4, 140. , b'89', 2755, 15.8, 77, 1, b'ford mustang ii 2+2'),
       (30.5, 4,  98. , b'63', 2051, 17. , 77, 1, b'chevrolet chevette'),
       (33.5, 4,  98. , b'83', 2075, 15.9, 77, 1, b'dodge colt m/m'),
       (30. , 4,  97. , b'67', 1985, 16.4, 77, 3, b'subaru dl'),
       (30.5, 4,  97. , b'78', 2190, 14.1, 77, 2, b'volkswagen dasher'),
       (22. , 6, 146. , b'97', 2815, 14.5, 77, 3, b'datsun 810'),
       (21.5, 4, 121. , b'110', 2600, 12.8, 77, 2, b'bmw 320i'),
       (21.5, 3,  80. , b'110', 2720, 13.5, 77, 3, b'mazda rx-4'),
       (43.1, 4,  90. , b'48', 1985, 21.5, 78, 2, b'volkswagen rabbit custom diesel'),
       (36.1, 4,  98. , b'66', 1800, 14.4, 78, 1, b'ford fiesta'),
       (32.8, 4,  78. , b'52', 1985, 19.4, 78, 3, b'mazda glc deluxe'),
       (39.4, 4,  85. , b'70', 2070, 18.6, 78, 3, b'datsun b210 gx'),
       (36.1, 4,  91. , b'60', 1800, 16.4, 78, 3, b'honda civic cvcc'),
       (19.9, 8, 260. , b'110', 3365, 15.5, 78, 1, b'oldsmobile cutlass salon brougham'),
       (19.4, 8, 318. , b'140', 3735, 13.2, 78, 1, b'dodge diplomat'),
       (20.2, 8, 302. , b'139', 3570, 12.8, 78, 1, b'mercury monarch ghia'),
       (19.2, 6, 231. , b'105', 3535, 19.2, 78, 1, b'pontiac phoenix lj'),
       (20.5, 6, 200. , b'95', 3155, 18.2, 78, 1, b'chevrolet malibu'),
       (20.2, 6, 200. , b'85', 2965, 15.8, 78, 1, b'ford fairmont (auto)'),
       (25.1, 4, 140. , b'88', 2720, 15.4, 78, 1, b'ford fairmont (man)'),
       (20.5, 6, 225. , b'100', 3430, 17.2, 78, 1, b'plymouth volare'),
       (19.4, 6, 232. , b'90', 3210, 17.2, 78, 1, b'amc concord'),
       (20.6, 6, 231. , b'105', 3380, 15.8, 78, 1, b'buick century special'),
       (20.8, 6, 200. , b'85', 3070, 16.7, 78, 1, b'mercury zephyr'),
       (18.6, 6, 225. , b'110', 3620, 18.7, 78, 1, b'dodge aspen'),
       (18.1, 6, 258. , b'120', 3410, 15.1, 78, 1, b'amc concord d/l'),
       (19.2, 8, 305. , b'145', 3425, 13.2, 78, 1, b'chevrolet monte carlo landau'),
       (17.7, 6, 231. , b'165', 3445, 13.4, 78, 1, b'buick regal sport coupe (turbo)'),
       (18.1, 8, 302. , b'139', 3205, 11.2, 78, 1, b'ford futura'),
       (17.5, 8, 318. , b'140', 4080, 13.7, 78, 1, b'dodge magnum xe'),
       (30. , 4,  98. , b'68', 2155, 16.5, 78, 1, b'chevrolet chevette'),
       (27.5, 4, 134. , b'95', 2560, 14.2, 78, 3, b'toyota corona'),
       (27.2, 4, 119. , b'97', 2300, 14.7, 78, 3, b'datsun 510'),
       (30.9, 4, 105. , b'75', 2230, 14.5, 78, 1, b'dodge omni'),
       (21.1, 4, 134. , b'95', 2515, 14.8, 78, 3, b'toyota celica gt liftback'),
       (23.2, 4, 156. , b'105', 2745, 16.7, 78, 1, b'plymouth sapporo'),
       (23.8, 4, 151. , b'85', 2855, 17.6, 78, 1, b'oldsmobile starfire sx'),
       (23.9, 4, 119. , b'97', 2405, 14.9, 78, 3, b'datsun 200-sx'),
       (20.3, 5, 131. , b'103', 2830, 15.9, 78, 2, b'audi 5000'),
       (17. , 6, 163. , b'125', 3140, 13.6, 78, 2, b'volvo 264gl'),

In [84]:
wine_data = pd.read_csv('./Resource/winequality-red.csv',delimiter =";",header=None, skiprows=1)

In [85]:
wine_data.head()

     0     1     2    3      4     5     6       7     8     9    10  11
0   7.4  0.70  0.00  1.9  0.076  11.0  34.0  0.9978  3.51  0.56  9.4   5
1   7.8  0.88  0.00  2.6  0.098  25.0  67.0  0.9968  3.20  0.68  9.8   5
2   7.8  0.76  0.04  2.3  0.092  15.0  54.0  0.9970  3.26  0.65  9.8   5
3  11.2  0.28  0.56  1.9  0.075  17.0  60.0  0.9980  3.16  0.58  9.8   6
4   7.4  0.70  0.00  1.9  0.076  11.0  34.0  0.9978  3.51  0.56  9.4   5

In [132]:
wine_df=wine_data.astype(np.int32)

In [133]:
wine_df.dtypes

0     int32
1     int32
2     int32
3     int32
4     int32
5     int32
6     int32
7     int32
8     int32
9     int32
10    int32
dtype: object

In [115]:
wine_data.shape

(1599, 11)

In [ ]:
# Extract the last element from each row after the header row.
# Convert each extracted element to a float.
# Assign all the extracted elements to the list qualities.
# Divide the sum of all the elements in qualities by the total number of elements in qualities to the get the mean.

In [136]:
qualities = [int(item[-1]) for item in wine_df[1:]]

TypeError: 'int' object is not subscriptable

In [140]:
qualities = [type(item) for item in wine_df[1:]]

In [141]:
qualities

[int, int, int, int, int, int, int, int, int, int, int]

In [139]:
for item in wine_df[0:]:
    print(item)

0
1
2
3
4
5
6
7
8
9
10

In [118]:
wines = np.array(wine_data[0:],dtype = np.float)

In [119]:
wines

array([[ 7.4  ,  0.7  ,  0.   , ...,  3.51 ,  0.56 ,  9.4  ],
       [ 7.8  ,  0.88 ,  0.   , ...,  3.2  ,  0.68 ,  9.8  ],
       [ 7.8  ,  0.76 ,  0.04 , ...,  3.26 ,  0.65 ,  9.8  ],
       ...,
       [ 6.3  ,  0.51 ,  0.13 , ...,  3.42 ,  0.75 , 11.   ],
       [ 5.9  ,  0.645,  0.12 , ...,  3.57 ,  0.71 , 10.2  ],
       [ 6.   ,  0.31 ,  0.47 , ...,  3.39 ,  0.66 , 11.   ]])

In [121]:
wines.shape

(1599, 11)

In [123]:
wines[2,2]

0.04

In [128]:
wines[0:3,2]

array([0.  , 0.  , 0.04])

In [147]:
df = pd.read_csv('./Resource/winequality-red.csv',delimiter =";")

In [148]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [152]:
#find the float columns  in the dataset
df[df.columns[df.dtypes=='float64']| df.columns[df.dtypes =="object"]].dropna()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

In [1]:
# write a anogram
str1 ='actd'
str2 ='cat'
from collections import Counter
def check_anagram(s1,s2):
    s1 = s1.lower().replace(" ",' ')
    s2 =s2.lower().replace(" ",' ')
    return Counter(s1)== Counter(s2)
check_anagram(str1,str2)

False

In [158]:
def implement_counter(s1):
    c={}
    for i in s1:
        if i in c:
            c[i]+=1
        else:
            c[i]= 1
    return c
s1="billie"
implement_counter(s1)

{'b': 1, 'i': 2, 'l': 2, 'e': 1}